#banner {
    width: 100%;
    height: 100vh;
    background-position-y: center;
    background: url('/static/banner.jpeg');
    background-size: cover;
}

#gallery {
    width: 100%;
}

.slider-img {
    margin: 50px;
    width: 300px;
}